/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background: #1C1C1C;
    background-alt: #282B31FF;
    foreground:     #ffffff;
    selected:     #cb7012;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
